<TYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Nectar Lifesciences Ltd. </title>
        <link rel="stylesheet" href="./style.css">
      </head>
      {% csrf_token %}
      <body>
          <h1><center> Sterile Utility Running Hours </h1>
            {% comment %} <p style="background-image: url('./neclife.png');"> {% endcomment %}
              <h1>Harsh<h1>
                <h2>Manish<h2>
      </body>
    </html>