body {
  font-family: Arial, sans-serif;
  {% comment %} background-color: #f2f2f2; {% endcomment %}
  background-image: url('./neclife.png');
  background:"red";
  margin: 0;
  padding: 0;
}

form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="date"],
input[type="floatformat"] {
  width: calc(50% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}